<div class="btn-toolbar custom-toolbar" id="idToolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div *ngIf="idAdd != ''" id="{{idAdd}}" class="btn-group bg-white mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-primary" placement="top" triggers="mouseenter:mouseleave" popoverTitle="{{titleAdd}}"
                ngbPopover="{{dataPopoverAdd}}" (click)="clickAdd()" [disabled]="!buttonDisabledAdd">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
        </button>
    </div>

    <div *ngIf="idReport != ''" id="{{idReport}}" class="btn-group bg-white mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-success" placement="top" triggers="mouseenter:mouseleave" popoverTitle="{{titleReport}}"
                ngbPopover="{{dataPopoverReport}}" (click)="clickReport()" [disabled]="!buttonDisabledReport">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>

    <div *ngIf="idExcel != ''" id="{{idExcel}}" class="btn-group bg-white mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-success" placement="top" triggers="mouseenter:mouseleave" popoverTitle="{{titleExcel}}"
                ngbPopover="{{dataPopoverExcel}}" (click)="clickExcel()" [disabled]="!buttonDisabledExcel">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
        </button>
    </div>

    <div *ngIf="idClear != ''" id="{{idClear}}" class="btn-group bg-white mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-danger" placement="top" triggers="mouseenter:mouseleave" popoverTitle="{{titleClear}}"
                ngbPopover="{{dataPopoverClear}}" (click)="clickClear()" [disabled]="!buttonDisabledClear">
            <i class="fas fa-trash-alt" aria-hidden="true"></i>
        </button>
    </div>

    <div *ngIf="idControl != ''" id="{{idControl}}" class="btn-group bg-white mr-2" style="width: 500px;" role="group" aria-label="First group">
        <label>{{titleInput}}</label>
        <input type="text" id="{{idInput}}"class="form-control" placeholder="{{PlaceHolder}}" [(ngModel)]="inputModel" (ngModelChange)="inputModelChange.emit(inputModel)" [disabled]="!inputDisabled" ngbAutofocus>
    </div>

    <div *ngIf="idChangePro != ''" id="{{idChangePro}}" class="btn-group bg-white mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-primary" placement="top" triggers="mouseenter:mouseleave" popoverTitle="{{titleChangePro}}"
                ngbPopover="{{dataPopoverChangePro}}" (click)="clickChangePro()" [disabled]="!buttonDisabledChangePro">
            <i class="fas fa-user-check" aria-hidden="true"></i>
        </button>
    </div>

    <div *ngIf="idChangeDesPro != ''" id="{{idChangeDesPro}}" class="btn-group bg-white mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-primary" placement="top" triggers="mouseenter:mouseleave" popoverTitle="{{titleChangeDesPro}}"
                ngbPopover="{{dataPopoverChangeDesPro}}" (click)="clickChangeDesPro()" [disabled]="!buttonDisabledChangeDesPro">
            <i class="fas fa-user-times" aria-hidden="true"></i>
        </button>
    </div>

    

</div>

