<!-- [ title ] start -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body" style="padding: 0.7rem!important;">
                <div>
                    <h5 style="margin-bottom: 0px !important;">{{title}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ title ] end -->