/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .main-footer,
.sidebar-mini.sidebar-collapse .main-header {
    margin-left: 4.6rem!important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .main-footer,
.sidebar-mini.sidebar-collapse .main-header {
    margin-left: 4.6rem!important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.main-sidebar,
.main-sidebar::before {
    -webkit-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    width: 230px!important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar,
.sidebar-mini.sidebar-collapse .main-sidebar::before {
    margin-left: 0!important;
    width: 4.6rem!important;
}


/*Cambio en tiempo de trnaisicion del menu izquierdo al desplegarse*/

.hold-transition .content-wrapper,
.hold-transition .control-sidebar,
.hold-transition .control-sidebar *,
.hold-transition .main-footer,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar * {
    transition: 0.50s !important;
}

/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused,
.sidebar-mini.sidebar-collapse .main-sidebar:hover {
    width: 230px!important;
    transition: 0.50s !important;
}

/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-link,
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link {
    width: 230px!important;
    transition: 0.50s !important;
}

/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused,
.sidebar-mini.sidebar-collapse .main-sidebar:hover {
    width: 230px!important;
    transition: 0.50s !important;
}

/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-link,
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link {
    width: 230px!important;
    transition: 0.50s !important;
}

/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-mini.sidebar-collapse .brand-text,
.sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p,
.sidebar-mini.sidebar-collapse .sidebar .user-panel>.info {
    margin-left: -0px!important;
    opacity: 0;
    visibility: hidden;
}

/*Cambios de tamaño en menu izquierdo (Responsive)*/

.content-wrapper,
.main-footer,
.main-header {
    margin-left: 230px!important;
}

.sidebar-mini.sidebar-collapse .content-wrapper {
    margin-left: 5.6rem !important;
}


/*Cambios de tamaño en menu izquierdo (Responsive)*/

.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar::before {
    margin-left: -230px!important;
}


/*Estilos ScrollBar*/

perfect-scrollbar>.ps.ps--active-y>.ps__rail-y.ps--clicking,
perfect-scrollbar>.ps.ps--active-y>.ps__rail-y:hover {
    width: 9px!important;
    background-color: transparent!important;
}

perfect-scrollbar>.ps.ps--scrolling-x>.ps__rail-x,
perfect-scrollbar>.ps.ps--scrolling-y>.ps__rail-y {
    opacity: 1 !important;
    background-color: transparent !important;
}

.ps__thumb-y {
    background-color: #c2c7d0!important;
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y {
    background-color: #fbfbfb!important;
    width: 9px!important;
}

.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y,
.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y {
    opacity: 1!important;
}

.hold-transition .content-wrapper,
.hold-transition .control-sidebar,
.hold-transition .control-sidebar *,
.hold-transition .main-footer,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar * {
    transition: 0.50s !important;
}


/*Fin Stilos ScrollBar*/


/* navbar */

.main-header {
    border-bottom: 0px;
    background: #d4d4d4;
    z-index: 1034;
}


/*Estilos de contenedor*/

.content-wrapper {
    min-height: calc(100vh - 114px);
    height: 100%;
}


/*Sombras*/

.box-shadow-sidebar {
    box-shadow: 6px 57px 5px rgba(1, 1, 10, 0.5) !important;
}

.box-shadow-navbar {
    box-shadow: 1px 6px 5px rgba(1, 1, 10, 0.5) !important;
}


/*Estilos menu dinamico*/

.nav-item:hover {
    cursor: pointer;
}

.groupnav {
    border-top-color: #e2e5e8!important;
    color: #ffffff!important;
    font-size: 15px;
    font-weight: 600;
    padding: 18px 15px 5px;
    position: relative;
    text-transform: lowercase;
    letter-spacing: 1px;
    border-top-color: #e2e5e8;
    margin-top: 10px;
    border-top: 1px solid #344258;
}

.collapsed {
    margin-left: 14px;
}

.collapsedalone {
    margin-left: 14px;
}

.arrows {
    font-size: 13px;
    border: none;
    position: absolute;
    top: 13px;
    right: 20px;
}

.submenu {
    position: relative;
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: transparent;
    padding: 15px 0;
    list-style: none;
}

.submenu:after {
    background: rgba(185, 199, 212, .5);
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 1px;
    height: calc(100% - 36px);
}

.submenu li>a::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 11px;
    width: 19px;
    height: 1px;
    background: rgba(185, 199, 212, 0.52);
}

.submenu li>a::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 26px;
    width: 6px;
    height: 6px;
    background: transparent;
    z-index: 1000;
}

.navitem:hover {
    background-color: rgba(255, 255, 255, .1)!important;
    color: #fff!important;
}

.navitem:hover:before {
    content: ""!important;
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    width: 4px!important;
    height: 100%!important;
    background: red!important;
}

.submenuactive {
    color: #fff!important;
}

.submenuactive::before {
    content: ""!important;
    border-radius: 50%!important;
    position: absolute!important;
    top: 23px!important;
    left: 26px!important;
    width: 6px!important;
    height: 6px!important;
    background: red!important;
    z-index: 1000!important;
}

.activeMenu::after {
    content: ""!important;
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    width: 4px!important;
    height: 100%!important;
    background: red!important;
}

.activeMenu {
    color: #fff!important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.nav-item li:hover>a:before {
    background: red;
}

.nav-item li:hover>a>:before {
    background: transparent;
}

.nav-pills .nav-link:not(.active):hover {
    color: #fff;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: transparent;
}

.nav-icon {
    margin-right: 7px !important;
}

.nav-itemalon-icon {
    margin-left: 20px !important;
}


/*Fin estilos menu dinamico*/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*Cambio de tamañano de ng-select para que quede igual que un form-control*/

.ng-select.ng-select-single .ng-select-container {
    height: 36px!important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} 

.pcoded-content {
    padding: 20px 20px 0px 20px;
}

/* style popover*/
.popover-body {
    min-width: 257px!important;
}

/*Estilo para btn disabled*/
.btn.disabled, .btn:disabled {
    opacity: .65;
    cursor: not-allowed;
}

/*Custom Switch*/
input[type=checkbox].toggle-switch {
    font-size: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 6em;
    height: 3em;
    border-radius: 3em;
    background-color: #ddd;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.09s ease-in-out;
    position: relative;
}

input[type=checkbox].toggle-switch:checked {
    background-color: #3af;
}

input[type=checkbox].toggle-switch::after {
    content: '';
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 3em;
    position: absolute;
    transform: scale(0.7);
    left: 0;
    transition: left 0.09s ease-in-out;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
}

input[type=checkbox].toggle-switch:checked::after {
    left: 3em;
}
/*Fin custom switch*/

/*Center Input*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/*Fin Center Input*/

/*Centrar titulos ag-grid*/
.ag-header-cell-label {
    justify-content: center;
 }
 /*Fin Centrar titulos ag-grid*/