<div #contentWrapper class="">
    <!-- [ load ] start -->
<bavs-spinner-page [loading]="load"></bavs-spinner-page>
<!-- [ load ] end -->
<div class="pcoded-content center-block" style="width: 80%; text-align: center;">
    <!-- [ title ] start -->
    <bavs-title-page title="Usuarios"></bavs-title-page>
    <!-- [ title ] end -->

    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <bavs-toolbar-page 
                                idToolbar="opcionesToolbar"                                

                                idAdd="btnCrearUser" 
                                titleAdd="Crear Usuario"
                                dataPopoverAdd="Boton para crear nuevos usuarios"
                                (clickCustomAdd)="clickAdd()"

                                idReport="btnReport" 
                                titleReport="Generar"
                                dataPopoverReport="Generar la peticion de informacion"
                                (clickCustomReport)="clickReport()"

                                idClear="btnClear" 
                                titleClear="Limpiar"
                                dataPopoverClear="Limpiar Filtro"
                                (clickCustomClear)="clickClear()"

                                idControl="divText"
                                idInput="txtFiltro" 
                                titleInput=""
                                PlaceHolder="Busca un usuario por nombre"
                                [(inputModel)]="filterModel"

                                idChangePro="btnPrecessedUser" 
                                titleChangePro="Procesar Usuario"
                                dataPopoverChangePro="Boton para procesar usuarios"
                                (clickCustomChangePro)="clickChangePro()"

                                idChangeDesPro="btnDesPrecessedUser" 
                                titleChangeDesPro="DesProcesar Usuario"
                                dataPopoverChangeDesPro="Boton para desprocesar usuarios"
                                (clickCustomChangeDesPro)="clickChangeDesPro()"

                            >
                            </bavs-toolbar-page>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <ag-grid-angular 
                                style="width: 100%; height: 50vh;" 
                                class="ag-theme-alpine"
                                [rowData]="rowData" 
                                [columnDefs]="columnDefs"
                                (gridReady)="onGridReady($event)"
                                (cellClicked)="onCellClicked($event)"     
                                [defaultColDef]="defaultColDef"
                                rowSelection="multiple"
                            >
                            </ag-grid-angular>
                        </div>
                    </div>

                    <ng-template #ModalCreate let-modal> 
                        <form [formGroup]="formUser" class="mt-1" (ngSubmit)="onSubmitUser()">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Crear Usuario</h4>
                                <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="background: rgb(238,238,238); overflow:auto;">
                                <div class="form-row">
                                    <div class="col-md-1 col-xs-1"></div>
                                    <div class="col-md-5 col-xs-5">
                                        <label>Nombres</label>
                                        <input type="text" class="form-control" placeholder="Nombres del usuario" formControlName="name">
                                        <div class="is-invalid " *ngIf="formUser.get('name').hasError('required')">
                                            <span class="badge badge-danger f-size-12 mt-1 m-r-5 ">Campo requerido</span>
                                        </div>
                                        <div class="is-invalid " *ngIf="!formUser.get('name').hasError('required')">
                                            <span class="badge badge-success f-size-12 mt-1 m-r-5 ">Campo correcto</span>
                                        </div>
                                    </div>

                                    <div class="col-md-5 col-xs-5">
                                        <label>Apellidos</label>
                                        <input type="text" class="form-control" placeholder="Apellidos del usuario" formControlName="lastName">
                                        <div class="is-invalid " *ngIf="formUser.get('lastName').hasError('required')">
                                            <span class="badge badge-danger f-size-12 mt-1 m-r-5 ">Campo requerido</span>
                                        </div>
                                        <div class="is-invalid " *ngIf="!formUser.get('lastName').hasError('required')">
                                            <span class="badge badge-success f-size-12 mt-1 m-r-5 ">Campo correcto</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-1"></div>
                                </div>                                
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-outline-primary btn-sm" type="submit" [disabled]="!formUser.valid">
                                    <i class="fas fa-save"></i> Crear                           
                                </button>
                            </div>
                        </form>                       
                    </ng-template>

                    <ng-template #ModalUpdate let-modal>
                        <form [formGroup]="formUserUpdate" class="mt-1" (ngSubmit)="onSubmitUserUpdate()">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Editar Usuario</h4>
                                <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="background: rgb(238,238,238); overflow:auto;">
                                <div class="form-row">
                                    <div class="col-md-1 col-xs-1"></div>
                                    <div class="col-md-4 col-xs-4">
                                        <label>Nombres</label>
                                        <input type="text" class="form-control" placeholder="Nombres del usuario" formControlName="name">
                                        <div class="is-invalid " *ngIf="formUserUpdate.get('name').hasError('required')">
                                            <span class="badge badge-danger f-size-12 mt-1 m-r-5 ">Campo requerido</span>
                                        </div>
                                        <div class="is-invalid " *ngIf="!formUserUpdate.get('name').hasError('required')">
                                            <span class="badge badge-success f-size-12 mt-1 m-r-5 ">Campo correcto</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <label>Apellidos</label>
                                        <input type="text" class="form-control" placeholder="Apellidos del usuario" formControlName="lastName">
                                        <div class="is-invalid " *ngIf="formUserUpdate.get('lastName').hasError('required')">
                                            <span class="badge badge-danger f-size-12 mt-1 m-r-5 ">Campo requerido</span>
                                        </div>
                                        <div class="is-invalid " *ngIf="!formUserUpdate.get('lastName').hasError('required')">
                                            <span class="badge badge-success f-size-12 mt-1 m-r-5 ">Campo correcto</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2" style="text-align: center;">
                                        <label>Procesado</label>
                                        <input type="checkbox" class="form-control toggle-switch center-block" formControlName="processed">
                                    </div>
                                    <div class="col-md-1 col-xs-1"></div>
                                </div>                                
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-outline-primary btn-sm" type="submit" [disabled]="!formUserUpdate.valid">
                                    <i class="fas fa-save"></i> Grabar                           
                                </button>
                            </div>
                        </form>   
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
</div>

</div>
